@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
body{
  margin:0px;
  background: rgb(249, 250, 255);
  box-sizing: border-box;
}

div{
  box-sizing: border-box;
  font-family:  'SOYOMapleBoldTTF';
}

.m-font{
  font-size:14px;
}
.s-font{
  font-size:10px;
}
.navbar {
  width:100%;
  margin:auto;
  height:auto !important;
  background-color: #222;
  padding:10px;
}

.loading{
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
}

.btn{
  width:90px;
  height:30px;
  color:white;
  border-radius:10px;
  border:none;
  background-color: green;

}
.navbar a{
  display:inline-block;
  color:white;
  text-decoration: none;
  width:25%;
  text-align: center;
}

.login-btn{
  width:70px;
  font-size:14px;
  height:30px;
  border:none;
  cursor:pointer;
  font-weight:800;
  background: rgb(249, 250, 255);
  padding:0px;
}

.home-container{
  width:80%;
  margin-left:auto;
  margin-right:auto;

  height:auto !important;
  display: flex;
  padding:5px;
}

.home-part1{
  width:70%;
  height:auto;

}
.home-part1 div{
  display:inline-block;
  width:45%;
  height:300px;
  margin:5px;
  border-radius: 10px;
}

.homeimg{
  width:100%;
  height:100%;
}

.overap{
  position:relative;
  margin:0px;

}

.ob{
  position:absolute;
  top:0px;
  left:0px;
  display: none;
  width:100%;
  height: 100%;
  color:white;
  
}


.overap:hover .ob{
  display:block;
  background-color: black;
  opacity: 0.2;

}
.home-part2{
  width:30%;
  height:auto;
  text-align: center;
  padding:10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-part2 a{
  font-size: 30px;
  text-decoration: none;
  color:inherit;
  color:brown;

}


.main-container{
  width:100%;
  height:auto !important;
  max-width:1500px;
  margin-left:auto;
  margin-right: auto;
}

.main-login{
  width:100%;
  text-align:right;
}
.main-container a{
  text-decoration: none;
  font-weight: 600;
  font-size:14px;
  color:black;
  border-left:black 1px solid;
  padding:10px;
}

.maximum-width{
  width:80%;
}

.main-banner{
  width:80%;
  height:auto !important;
  margin:auto;
  padding:30px;
  border-bottom:black solid 1px;
}


.about-container{
  margin-top:20px;
  margin-left:auto;
  margin-right: auto;
  height: auto;
  max-width: 1500px;
  display:flex;
  
}

.about-left{
  padding:20px;
  width:60%;
  height:60%;
  text-align: center;
  
}
.about-img{
  width:50%;
  height:50%;
  border-radius: 10px;

}

.about-site{
  color:#222;
  text-align: left;
  width:50%;
  height:100%;
}

.about-site h3{
  color:brown
}
.about-site-part1{
  border-bottom: black solid 1px;
  padding:20px;
}
.about-site-part2{
  padding:20px;
  display: flex;
  text-align: left;
}

.part2-box{
    width:50%;
    height:100%;
} 



.start{
  opacity: 0;
}
.end{
  opacity: 1;
  transition: all 1s;
}

.tointro{
  width:100px;
  height: 60px;
  background: brown;
  border-radius: 10px;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}

.tointro a{
  color:white;
}

.tointro:hover{

  animation: changebtn;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-iteration-count:infinite;

}


@keyframes changebtn {
  0%{
    background: brown;
    border-radius:10%;
  }

  25%{
    background-color: blue;
    border-radius: 50%;
  }

  50%{
    background-color: black;
    border-radius:10%;
  }

  75%{
    background-color: green;
    border-radius: 50%;
  }
   
  100%{
    background: brown;
    border-radius:10px;

  }
  
}
/* -------------about */


.post-container
{
  height: auto !important;
  margin-left:auto;
  margin-right: auto;
  padding:10px;
}

.posting{
  width:100%;
  background: white;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  transition : all 1s;
}

.posting-author{
  font-weight: 800;
  margin:0px;
}
.posting-date{
  color:grey ;
  font-size:10px;
}


.posting-delete :nth-child(3){
  margin-top:10px;
}

.post-title {
  width:100%
}

.posting-content{
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}
.post-container h3{
  display:inline-block;
  width:85%;
}


.post-writing{
  
  border: none;
  color:green;
  font-weight: 800;
  text-decoration: none;
  margin-bottom:10px;
 
}

.postdetail-container{
  width:80%;
  height: auto !important;
  margin-left:auto;
  margin-right: auto;
  padding:20px;
}


.detail-content{
  width:100%;
  height: auto;
  font-weight:800;
  padding:5px;
  font-size:14px;
  border:grey solid 1px;
  border-radius: 10px;
  margin-bottom:20px;
  padding-left:20px;
}

.detail-comment{
    width:100%;
    height:auto;
    padding:20px;
}
.detail-content :nth-child(2)
{
  color:grey;
  font-size:10px;
}

.contentH{
  height:300px;
}

.posteditbtn{
  margin-left:20px;
  text-decoration: none;
  color:inherit;
  color:green;
}


/* ---------post */

.register-container{
  width:100%;
  height:100%;
}

.register-container input{
  width:250px;
  height:30px;
}

.register-container p{
  margin-bottom:30px;
}
.register-container button{
  width:200px;
  height:30px;
  border: none;
  border-radius: 10px;
  color:white;
  background-color: green;
}


/* ---------register */
@media screen and (max-width:763px)
{
  .about-container{
    display:block;
  }

  .main-login{
    text-align:left;
  }

  .about-site{
    width:100%;
  }
  .about-left{
    width:100%;
  }
  .about-site-part2 {
    display:block;
  }
  .part2-box{
    width:100%;
  }

  .part2-inner{
    display:flex;
  }
  .part2-inner div{
    width:50%;
  }

  .home-container{
    display:block;
  }

  .home-part1, .home-part2{
    width:100%;
  }

  .home-part1 div {
    display:block;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
  }
}